<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Selamat Datang di WHAPI</title>
    <meta name="description" content="Whatsapp API gateway indonesia untuk mengirim notifikasi, kirim pesan, terima pesan, IoT, chatbot, dan reminder. Segera download aplikasi WHAPI sekarang!.">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js" ></script>
  </head>
  <body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3"></div>
           <div class="col-md-6">
              <div class="card user-card">
                <div class="card-body">
                    <div class="form-group">
                        <img src="img/logo.png" class="img-fluid">
                    </div>
                    <h4>WHAPI berhasil diinstal ✅</h4>
                    <p> <b>WHAPI</b> ( Whatsapp API Gateway ) adalah sebuah aplikasi yang dapat membantu developer/pengembang dalam membangun aplikasi berbasis WhatsApp, seperti OTP, reminder, chatbot, IoT, dan masih banyak lagi. WHAPI adalah aplikasi yang dibuat berdasarkan instance web.whatsapp.com. Aplikasi ini tetap membutuhkan otorisasi user untuk scan qrcode seperti pada WhatsApp Web pada umumnya. <h4>Disclaimer</h4><b>WHAPI</b> tidak berafiliasi dengan WhatsApp. WhatsApp adalah merk yang terdaftar oleh WhatsApp Inc.</p>
                    <a href="install" class="btn btn-success">Mulai</a>
                </div>
              </div>
              <div class="card mt-3 mb-3">
                <div class="card-body">
                    &copy; <%= new Date().getFullYear() %>, Powered By WHAPI
                </div>
            </div>
           </div>
           <div class="col-md-3"></div>
      </div>
      </div>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
