<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center form_container">
					<div class="brand_logo_container">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/597px-WhatsApp.svg.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<% if(message.length) {%>
					<div class="alert alert-<%= type %>" role="alert">
					  <%= message %>
					</div>
				<% } %>
				<form action="/login" method="post">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="username" class="form-control input_user" autocomplete="off" placeholder="username">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control input_pass" autocomplete="off" placeholder="password">
					</div>
					<button type="submit" class="btn btn-success">Login</button>
				</form>
				<div class="mt-4">
					<div class="text-center">
						<b>WHAPI ( Whatsapp API Gateway )</b>
					</div>
				</div>
			</div>
		</div>
	</div>
