<div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="card user-card">
         <div class="card-body">
            <h5 class="card-title">Kirim Pesan</h5>
            <form id="send-message">
               <input type="hidden" name="apiKey" value="<%= detailUser.login.apiKey %>">
               <div class="form-group">
                  <input type="text" name="phone" class="form-control" autocomplete="off" placeholder="No Tujuan">
               </div>
               <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Isi Pesan"></textarea>
               </div>
               <button type="submit" class="btn btn-success btn-block">Kirim</button>
            </form>
         </div>
      </div>
       <div class="card user-card mt-3 mb-3">
          <div class="card-body">
             <h5 class="card-title">Disclaimer</h5>
             <p style="text-align: justify;">Perangkat lunak ini tidak berafiliasi dengan WhatsApp. WhatsApp adalah merk yang terdaftar oleh WhatsApp Inc. Software warranty yang mengikat pada perangkat lunak ini terbatas pada modul untuk pengolahan data yang diterima dan dikirim melalui perangkat lunak ini.<br/><br/>Perangkat lunak ini menggunakan client utama <b>https://web.whatsapp.com</b> sehingga perangkat lunak ini adalah perangkat lunak official dari WhatsApp. Bukan aplikasi modifikasi yang sangat rentan menyalahi ketentuan WhatsApp.<br/><br/>Perangkat lunak ini dapat memudahkan developer dalam mengembangkan aplikasi berbasis whatsapp. Seperti OTP, chatbot, dll. Nomor whatsapp rentan diblokir oleh whatsapp, jika Anda mengirim pesan ke nomor tidak dikenal, dan dilaporkan sebagai SPAM.</p>
          </div>
       </div>
    </div>
    <div class="col-md-5">
       <div class="card user-card">
          <div class="card-body">
            <h5 class="card-title">QRCode Whatsapp Web</h5>
             <div class="form-group text-center">
                <img src="../img/loading.gif" class="img-fluid" alt="#">
             </div>
             <h4>Status
               <%
                  if (stateStatus == 'CONNECTED') {
                     statusLabel = 'badge badge-success';
                  } else if (stateStatus == 'CONFLICT' || stateStatus == 'DEPRECATED_VERSION' || stateStatus == 'PROXYBLOCK' || stateStatus == 'SMB_TOS_BLOCK' || stateStatus == 'TOS_BLOCK' || stateStatus == 'UNLAUNCHED') {
                     statusLabel = 'badge badge-warning';
                  } else if (stateStatus == 'OPENING' || stateStatus == 'PAIRING') {
                     statusLabel = 'badge badge-info';
                  } else if (stateStatus == 'TIMEOUT' || stateStatus == 'UNPAIRED' || stateStatus == 'UNPAIRED_IDLE') {
                     statusLabel = 'badge badge-danger';
                  } else if (stateStatus == 'SERVICE_OFF' || stateStatus == 'SERVICE_SCAN') {
                     statusLabel = 'badge badge-secondary';
                  }
               %>
               <span class="<%= statusLabel %>" id="state"><%= stateStatus %></span> <span id="demo"></span>
            </h4>
             <button type="button" data-service="serviceStart" class="btn btn-success btn-block state">Mulai Layanan</button>
             <button type="button" data-service="serviceReset" class="btn btn-info btn-block state">Reset Layanan</button>
             <button type="button" data-service="serviceLogout" class="btn btn-warning btn-block state">Logout Layanan</button>
             <button type="button" data-service="serviceDestroy" class="btn btn-danger btn-block state">Matikan Layanan</button>
          </div>
       </div>
       <div class="card user-card mt-3 mb-3">
         <div class="card-body">
            <h5 class="card-title">Masa Aktif Aplikasi</h5>
            License<br/>
            <b><%= license.license %></b><br/>
            Berakhir Pada<br/>
            <b><%= license.date_expired %></b>
            <hr/>
            <a href="https://documenter.getpostman.com/view/13310053/TVYKbwbT" target="_blank" class="btn btn-info btn-block">Dokumentasi API</a>
         </div>
      </div>
    </div>
 </div>
 <script>
var constApiKey = '<%= detailUser.login.apiKey %>'

$(function() {
    var socket = io();
    socket.on('qrcode', function(msg) {
        $("img").attr("src", msg).show();
    });
    socket.on('event_change_state', function(state) {
        if (state == 'CONNECTED') {
            $("#state").removeClass();
            $("#state").addClass('badge badge-success');
        } else if (state == 'CONFLICT' || state == 'DEPRECATED_VERSION' || state == 'PROXYBLOCK' || state == 'SMB_TOS_BLOCK' || state == 'TOS_BLOCK' || state == 'UNLAUNCHED') {
            $("#state").removeClass();
            $("#state").addClass('badge badge-warning');
        } else if (state == 'OPENING' || state == 'PAIRING') {
            $("#state").removeClass();
            $("#state").addClass('badge badge-info');
        } else if (state == 'TIMEOUT' || state == 'UNPAIRED' || state == 'UNPAIRED_IDLE') {
            $("#state").removeClass();
            $("#state").addClass('badge badge-danger');
        } else if (state == 'SERVICE_OFF' || state == 'SERVICE_SCAN') {
            $("#state").removeClass();
            $("#state").addClass('badge badge-secondary');
        }
        if (state == 'SERVICE_OFF' || 'CONNECTED'){
           $("img").attr("src", '../img/loading.gif');
        }
        if (state == null) {
           state = 'SERVICE_OFF';
        }
        $("#state").html(state);
    });

    $('#send-message').validate({
        rules: {
            phone: {
                required: true,
                number: true
            },
            message: {
               required: true
            }
        },
        messages: {
            phone: {
                required: 'No handphone wajib diisi',
                number: 'No. handphone wajib berisi angka'
            },
            message: {
               required: 'Pesan Wajib Diisi'
            }
        },
        submitHandler: function(form) {
            $.ajax({
               type: 'POST',
               url: '../api/sendMessage',
               data: $('#send-message').serialize(),
               success: function(e) {
                  $('input[name=phone]').val('')
                  $('textarea[name=message]').val('')
                  $("#notif").notify(e.results.message, { position:"right", className: 'info', arrowShow: false });
               },
               error: function(xhr, status, error) {
                  var errorMessage = "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText;
                  $("#notif").notify(errorMessage, { position:"right", className: 'error', arrowShow: false });
               }
            });
        }
    })

    $(".state").click(function() {
        myVar = setInterval(myTimer, 1000);
        $("button[type='button']").prop("disabled", true);
        $.ajax({
            type: 'GET',
            url: '../api/' + $(this).attr('data-service'),
            data: {
                apiKey: constApiKey
            },
            success: function(e) {
               $("#notif").notify(e.results.message, { position:"right", className: 'info', arrowShow: false });
            },
            error: function(xhr, status, error) {
                var errorMessage = "Ada error : xhr = " + xhr.status + ' | pesan = ' + xhr.statusText;
                $("#notif").notify(errorMessage, { position:"right", className: 'error', arrowShow: false });
            }
        });
   });

});

var delayApi = 10;

function myTimer() {
   delayApi--;
   $('#demo').html('( '+ delayApi + ' )');
   if (delayApi == 0) {
      $("button[type='button']").prop("disabled", false);
      myStopFunction();
      $('#demo').html('');
      delayApi = 10;
   }
}

function myStopFunction() {
   clearInterval(myVar);
}
 </script>