Engine : <%= oldVersion %><br/>
<%
    if(needUpdate){
%>
<span class="badge badge-success">Versi Paling Baru</span>
<% } else { %>
<span class="badge badge-danger">Segera update ke <%= latestVersion %></span>
<% } %><br/>
WHAPI : <%= oldVersionWhapi %><br/>
<%
    if(needUpdateWhapi){
%>
<span class="badge badge-success">Versi Paling Baru</span>
<% } else { %>
<span class="badge badge-danger">Segera update ke <%= latestVersionWhapi %></span>
<% } %>